body{
    box-sizing: border-box;
    font-family: "Poppins";
}
header{
    width: 100%;
    top:0;
    left: 0;
}
.navbar .navbar-brand{
    font-size: x-large;
    font-weight: 700;
    font-style: italic;
}
ul{
    list-style: none;
}
.navbar-nav{
    padding: 0 70px;
}
.navbar a{
    text-decoration: none;
    margin: 0 20px;
}
.navbar a:hover{
    color: orange;
}
.container{
    margin-top: 60px;
    background-color: rgb(39, 115, 140);
    width: 100%;
}
.container h2{
    margin-bottom: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.container p{
    text-align: center;
    color: orange;
    margin-bottom: 50px;
}
.row .col{
    background: bisque;
    height: 500px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
.row img{
    width: 300px;
    height: 300px;
    margin-top: 70px;
}
.row h4{
    color: orangered;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.container1{
    background-color: lightgoldenrodyellow;
    width: 100%;
    text-align: center;
    height: 350px;
}
.container1 h2{
    text-transform: uppercase;
    color: orangered;
    margin-bottom: 20px;
}
.container1 p{
    font-style: italic;
    font-weight: 500;
}
.container1 ul{
    list-style-type: none;
}
.container1 ul li{
    padding: 15px;
    color: orange;
    font-weight: 500;
}
.lastpart{
    width: 100%; 
    display: flex;
    box-sizing: border-box;
    color: black;
    justify-content: space-evenly;
    align-items: center;
}
.emailform,
.together{
    width: 50%;
    margin-top: 30px;
}
.emailform{
     background-color: rgb(39, 115, 140);
     margin-right: 50px;
}
.together{
    background-color: lightgoldenrodyellow;
}
label{
    color: orange;
}
.together h4{
    color: orangered;
    font-style: italic;
}
.together p{
    font-style: italic;
    font-weight: 500;
}