body{
    box-sizing: border-box;
    font-family: "Poppins";
}
header{
    top:0;
    left: 0;
}
.navbar .navbar-brand{
    font-size: x-large;
    font-weight: 700;
    font-style: italic;
}
ul{
    list-style: none;
}
.navbar-nav{
    padding: 0 70px;
}
.navbar a{
    text-decoration: none;
    margin: 0 20px;
}
.navbar a:hover{
    color: orange;
}
.intro-jumbotron{
    padding: 4em 6em;
    text-align: center;
    background-color: rgb(39, 115, 140);
}
.intro-jumbotron h2{
    color: white;
    text-transform: uppercase;
}
.intro-jumbotron p{
    text-align: center;
    color: orange;
    margin-bottom: 50px;
}
.row .col-md-4{
    background: bisque;
    height: 500px;
    text-align: center;
}
.project{
    margin-top: 70px;
    min-height: 300px;
}
.row h4{
    color: orangered;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.skillset-jumbotron{
    background-color: bisque;
    text-align: center;
    min-height: 500px;
}
.skillset-jumbotron h2{
    text-transform: uppercase;
    color: orangered;
    padding: 1em 0.5em;
}
.skillset-jumbotron p{
    font-style: italic;
    font-weight: 500;
}
.skillset-jumbotron ul{
    list-style-type: none;
}
.skillset-jumbotron ul li{
    padding: 15px;
    color: black;
    font-weight: 400;
}
.lastpart-jumbrotron{ 
    color: black;
    padding: 2em 0;
}
.emailform{
     background-color: rgb(39, 115, 140);
}
form{ 
    color: black;
}
form input[type = "text"],
form input[type = "email"]

{
    border: 1px solid orangered;
    padding: 10px 15px;
    border-radius: 1.0em;
    color: blue;
    margin-bottom: 20px;
    width: 100%;
}
label{
    color: black;
    font-size: 15px;
    font-weight: 700;
}
textarea{
    width: 100%;
    border-radius: 1.0em;
    margin-top: 40px;
    resize: none;
    border: 1px solid orangered;
    background-color: white;
    font-weight: 700;
    box-sizing: border-box;
}
form input[type = "submit"]
{
    margin-top: 20px;
    width: 100%;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid orangered;
    border-radius: 1.0em;
    margin-bottom: 20px;
 
}
.together{
    background-color: bisque;
}
.emailform, 
.together h4{
    color: orangered;
    font-style: italic;
}
.together p{
    font-style: italic;
    font-weight: 500;
    line-height: 40px;
}
.footer-jumbotron{
    background-color:rgb(39, 115, 140);
    text-align: center;
} 
.connect a{
    text-decoration: none;
}
.connect a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: orange;
    transition: all 0.2s ease;
}
.end{
    color: white;
}

@media(max-width: 574px){
    /*for smartphones*/
    .lastpart{
        display: flex;
        flex-direction: column;
    }
    .emailform,
    .together{
        width: 100%;
    }
    .emailform,
    .together h4{
        text-align: center;
    }
}