body{
    box-sizing: border-box;
    font-family: "Poppins";
}
header{
    background-image: url('../IMAGES/b5.webp');
    height: 100vh;
    background-size: cover;
    top:0;
    left: 0;
}
.navbar .navbar-brand{
    font-size: x-large;
    font-weight: 700;
    font-style: italic;
}
ul{
    list-style: none;
}
.navbar-nav{
    padding: 0 70px;
}
.navbar a{
    text-decoration: none;
    margin: 0 20px;
}
.navbar a:hover{
    color: orange;
}
.about-me-jumbotron{
    padding: 6em 5em;
    text-align: center;
}
.about-me-jumbotron h3{
    color: gold;
}
.row .col-md-6{
    background-color: bisque;
}
.row h4{
    text-align: center;
    font-weight: 800;
    color: orange;
}
.row p{
    text-align: center;
    font-style: italic;
}
.picture{
    border-radius: 5%;
}

